.jumbotron {
  background-color: darkgreen;
  ;
  color: whitesmoke;
}

#train-schedule-table th, td {
  display: inline-block;
  width: 20%;
}

.card-header {
  background-color: darkgreen;
  color: whitesmoke;
}

#add-train-btn {
  background-color: darkgreen;
  color: whitesmoke;
  width: 150px;
  border: none;
}

thead{
  font-weight: bold;
}

@media screen and (max-width: 780px) {
  #train-schedule-table thead, tbody {
      font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  #train-schedule-table thead, tbody {
      font-size: 12px;
  }
}