.jumbotron {
  background-color: darkgreen;
  ;
  color: whitesmoke;
}

#train-schedule-table th, td {
  display: inline-block;
  width: 20%;
}

.card-header {
  background-color: darkgreen;
  color: whitesmoke;
}

#add-train-btn {
  background-color: darkgreen;
  color: whitesmoke;
  width: 150px;
  border: none;
}

thead {
  font-weight: bold;
}

@media screen and (max-width: 780px) {
  #train-schedule-table thead {
    line-height: 36px;
    font-size: 10px;
  }
  #train-schedule-table tbody {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  #train-schedule-table thead {
    line-height: 36px;
    font-size: 6px;
  }
  #train-schedule-table tbody {
    font-size: 15px;
  }
}

@media screen and (max-width: 580px) {
  #train-schedule-table thead {
    line-height: 36px;
    font-size: 5px;
  }
  #train-schedule-table th {
    overflow: auto;
    max-width: 20px;
    width: 100%;
  }
  #train-schedule-table tbody {
    font-size: 8px;
  }
}